chargegr/scripts/n8n-refresh-workflow.json
{
  "name": "PlugMeNow — Refresh Station Data",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "/opt/plugmenow/chargegr/scripts/deploy-to-plesk.sh",
        "timeout": 300
      },
      "id": "execute-refresh",
      "name": "Refresh & Deploy",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "notEqual",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-error",
      "name": "Check Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.ERROR_WEBHOOK_URL || '' }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=PlugMeNow station refresh FAILED at {{ $now.toISO() }}. Exit code: {{ $json.exitCode }}. Output: {{ $json.stderr.substring(0, 500) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-notify",
      "name": "Error Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 200]
    },
    {
      "parameters": {},
      "id": "success-noop",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [860, 400]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [{ "node": "Refresh & Deploy", "type": "main", "index": 0 }]
      ]
    },
    "Refresh & Deploy": {
      "main": [
        [{ "node": "Check Error", "type": "main", "index": 0 }]
      ]
    },
    "Check Error": {
      "main": [
        [{ "node": "Error Notification", "type": "main", "index": 0 }],
        [{ "node": "Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "plugmenow" },
    { "name": "automation" }
  ]
}
